<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="tipo" value="voluntario">
    <ion-segment-button value="voluntario">Voluntário</ion-segment-button>
    <ion-segment-button value="instituicao">Instituição</ion-segment-button>
  </ion-segment>

  <ion-item class="ion-margin-top">
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input [value]="telefone" (ionInput)="onTelefone($event)"></ion-input>
  </ion-item>

  <ng-container *ngIf="tipo === 'voluntario'; else instituicaoCampos">
    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input [value]="cpf" (ionInput)="onCpf($event)"></ion-input>
    </ion-item>
  </ng-container>
  <ng-template #instituicaoCampos>
    <ion-item>
      <ion-label position="stacked">CNPJ</ion-label>
      <ion-input [value]="cnpj" (ionInput)="onCnpj($event)"></ion-input>
    </ion-item>
  </ng-template>

  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input [(ngModel)]="endereco"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="salvar()">Salvar</ion-button>

  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </ion-text>
  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>
