<ion-header>
  <ion-toolbar>
    <ion-title>Vagas Criadas</ion-title>
    <ion-avatar slot="end" id="menu-trigger" style="cursor:pointer; margin-right: 24px; width: 32px; height: 32px;">
      <img
        alt="Ícone do perfil"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        style="width: 35px; height: 35px; display: block; margin: 0 auto;"
      />
    </ion-avatar>

    <ion-popover trigger="menu-trigger" side="bottom" alignment="end">
      <ng-template>
        <ion-list>
          <ion-item button (click)="AlterarDadosInstituicao()">
            Alterar Dados
          </ion-item>
          <ion-item button (click)="logout()">
            Sair
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let vaga of vagas" class="vaga-card">
    <h2>{{ vaga.titulo }}</h2>
    <p>{{ vaga.descricao }}</p>
    <p><strong>Habilidades:</strong> {{ vaga.habilidades }}</p>
    <p><strong>Localização:</strong> {{ vaga.localizacao }}</p>
    <p><strong>Qtd Vagas:</strong> {{ vaga.qtdVagas }}</p>
    <p><strong>Data de Entrega:</strong> {{ vaga.dataEntrega | date }}</p>
    <p><strong>Status:</strong> {{ vaga.statusVaga }}</p>

    <div class="inscricoes">
      <h3>Inscrições:</h3>
      <div *ngIf="vaga.voluntarios.length === 0">
        Nenhuma candidatura
      </div>
      <div *ngFor="let vol of vaga.voluntarios" class="voluntario-card">
        <p><strong>Nome:</strong> {{ vol.nome }}</p>
        <p><strong>Email:</strong> {{ vol.email }}</p>
        <p><strong>Telefone:</strong> {{ vol.telefone }}</p>
        <p><strong>Status:</strong> {{ vol.status }}</p>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons">
      <ion-button expand="block" (click)="goToCadastro()">Cadastrar Vaga</ion-button>
      <ion-button expand="block">Vagas</ion-button>
      <ion-button expand="block" (click)="AcessarPerfil()">Perfil</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
