<ion-header>
  <ion-toolbar>
    <ion-title>Vagas Disponíveis</ion-title>
    <ion-avatar slot="end" id="menu-trigger" style="cursor:pointer; margin-right: 24px; width: 32px; height: 32px;">
      <img
        alt="Ícone do perfil"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
        style="width: 35px; height: 35px; display: block; margin: 0 auto;"
      />
    </ion-avatar>

    <ion-popover trigger="menu-trigger" side="bottom" alignment="end">
      <ng-template>
        <ion-list>
          <ion-item button (click)="AlterarDadosVoluntario()">
            Alterar Dados
          </ion-item>
          <ion-item button (click)="logout()">
            Sair
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let vaga of vagas" class="vaga-card">
    <h2>{{ vaga.titulo }}</h2>
    <p>{{ vaga.descricao }}</p>
    <p><strong>Habilidades:</strong> {{ vaga.habilidades }}</p>
    <p><strong>Localização:</strong> {{ vaga.localizacao }}</p>
    <p><strong>Qtd Vagas:</strong> {{ vaga.qtdVagas }}</p>
    <p><strong>Data de Entrega:</strong> {{ vaga.dataEntrega | date:'dd/MM/yyyy' }}</p>
    <p><strong>Status:</strong> {{ vaga.statusVaga }}</p>

    <div class="inscricao-voluntario">
      <ion-button
        expand="block"
        color="primary"
        (click)="inscrever(vaga)"
        [disabled]="vaga.statusVaga !== 'aberta' || vaga.qtdVagas === 0">
        Inscrever-se
      </ion-button>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons">
      <ion-button expand="block" routerLink="/vagas-voluntario">Vagas</ion-button>
      <ion-button expand="block" (click)="AcessarPerfil()">Perfil</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
