<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Projeto
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid style="height: 100vh; display: flex; align-items: center; justify-content: center;">
  <ion-row>
    <ion-col size="12" style="display: flex; justify-content: center;">
      <ion-card style="padding: 30px">
        <ion-card-title>Selecione o seu tipo de conta</ion-card-title>
        <ion-card-content>
          <ion-button
            style="display: flex; align-items: center; padding: 10px"
            [routerLink]="['/cadastro-instituicao']"
            >Instituição</ion-button>
          <ion-button
            style="display: flex; align-items: center; padding: 10px"
            [routerLink]="['/cadastro-voluntario']"
            >Voluntário</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
