<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-xl font-semibold mb-4">Cadastro de Voluntário</h2>

    <form (ngSubmit)="cadastrar()" class="flex flex-col gap-3">
      <input type="text" placeholder="Nome" [(ngModel)]="nome" name="nome" class="border p-2 rounded-md" required>
      <input type="email" placeholder="E-mail" [(ngModel)]="email" name="email" class="border p-2 rounded-md" required>
      <input type="text" placeholder="CPF" [(ngModel)]="cpf" name="cpf" class="border p-2 rounded-md" required>
      <input type="text" placeholder="Telefone" [(ngModel)]="telefone" name="telefone" class="border p-2 rounded-md">
      <input type="text" placeholder="Contato de Emergência" [(ngModel)]="contatoEmergencia" name="contatoEmergencia" class="border p-2 rounded-md">
      <input type="text" placeholder="Habilidades" [(ngModel)]="habilidades" name="habilidades" class="border p-2 rounded-md">

      <button type="submit" class="w-full py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Cadastrar
      </button>
    </form>
  </div>
</div>
