<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Voluntário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="submitForm()">

    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input [(ngModel)]="voluntario.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="voluntario.email" name="email" type="email" required></ion-input>
    </ion-item>

     <ion-item>
     <ion-label position="stacked">Senha</ion-label>
     <ion-input [(ngModel)]="voluntario.senha" name="senha" type="password" required>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
     </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input
        [(ngModel)]="voluntario.cpf"
        (ionInput)="voluntario.cpf = maskCpf(voluntario.cpf)"
        name="cpf"
        maxlength="14"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input
        [(ngModel)]="voluntario.telefone"
        (ionInput)="voluntario.telefone = maskTelefone(voluntario.telefone)"
        name="telefone"
        maxlength="15"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone de Emergência</ion-label>
      <ion-input
        [(ngModel)]="voluntario.contato_emergencial"
        (ionInput)="voluntario.contato_emergencial= maskTelefone(voluntario.contato_emergencial)"
        name="contato_emergencial"
        maxlength="15"
        ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Habilidades</ion-label>
      <ion-textarea [(ngModel)]="voluntario.habilidades" name="habilidades"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Cadastrar</ion-button>
  </form>

  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </ion-text>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>

</ion-content>
